/6_escapesquences/nbproject/private/
/6_escapesquences/build/
/7_input/nbproject/private/
/7_input/build/
/8_InputData/nbproject/private/
/8_InputData/build/
/laitihan1_sakha/target/
/Customer/target/
/kucing/target/
/9_eksploreVariable/nbproject/private/
/9_eksploreVariable/build/
/10_operatorAritmatika/nbproject/private/
/10_operatorAritmatika/build/
/11_LKPersegi/nbproject/private/
/11_LKPersegi/build/
